<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_app_logo"
        android:supportsRtl="true"
        android:name=".SipentingApplication"
        android:theme="@style/Theme.SIPENTING"
        android:usesCleartextTraffic="true"
        tools:targetApi="31" >
        <!-- Splash Activity with a specific theme -->
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.SIPENTING.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Authentication Activity (hosts LoginFragment etc.) -->
        <activity
            android:name=".ui.auth.AuthActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.SIPENTING" />

        <!-- Main Activity -->
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.SIPENTING" />
    </application>

</manifest>